# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
*.env
*/.env
**/*.env
.env.local
*.env.local
*/.env.local
**/*.env.local

# Logs
*.log

mentor-connect-main/PRD mentorconnect.docx/
mentor-connect-main/postman.json
mentor-connect-main/New Text Document.txt
mentor-connect-main/images.jpeg